html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

nav{
  width: 100%;
  background-color:  #000000;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
}

nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0px auto;
  width: 80%;
}

nav li{
  float: left;
}

nav a{
  padding: 10px;
  width: 200px;
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;

}

nav a:hover{
  color: black;
}

#videogame{
  display: block;
  margin:130px auto;
  width: 50%;
}


/*-----each page's settings-----*/
div#page_landing{
  background-image: url("../media/images/goldenskull.JPG");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 100vh; width: 100%;
  display: inline-block;
  background-color: black;
  margin: 0;
  padding: 0;

}

div#page_home{
  height: 100%;
  display: inline-block;
  width: 100%; height: 100vh
  padding
}

div#page_about{
  height: 100%;
  display: inline-block;
  width: 100%; height: 100vh
}

div#page_contacts{
  height: 100%;
  display: inline-block;
  width: 100%; height: 100vh
}

div#page_links{
  height: 100%;
  display: inline-block;
  width: 100%; height: 100vh
}

div#page_how{
  height: 100%;
  display: inline-block;
  width: 100%; height: 100vh
}

div#container{
  width: 80%;
  padding:0 10px;
  margin: 0px auto;
}








/*-----custom fonts-----*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,500&display=swap');
