body,html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Pirata One', cursive;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  background-color: black;
}

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pimg1{
  background-image: url('../media/images/goldenskull.JPG ');
  min-height: 100%;
}

.pimg2{
  background-image: url('../media/images/chess.jpg');
  min-height: 400px;
}

.pimg3{
  background-image: url('../media/images/Pirate.jpg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{

}
