body {
  background: #FCFCFC;
}

#navbar{
  width: 100%
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd
}
#navbar li {
  float: left;
}
#navbar a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}


#page_how {
  height: 800px;
  width: 100%;
  background-color: #E5E5E5;
}
